---
import type { GetStaticPaths } from 'astro';
import MainLayout from '../../layouts/MainLayout.astro';
import PokemonCard from '../../components/pokemons/PokemonCard.astro';

export const getStaticPaths = (() => {
	return [
		{
			params: { name: 'charmander' },
			props: {
				name: 'charmander',
				url: 'https://pokeapi.co/api/v2/pokemon/4/',
			},
		},
		{
			params: { name: 'squirtle' },
			props: {
				name: 'squirtle',
				url: 'https://pokeapi.co/api/v2/pokemon/7/',
			},
		},
	];
}) satisfies GetStaticPaths;

const { name } = Astro.params;
const { url } = Astro.props;

const id = url.split('/').at(-2);
const audioSrc = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/legacy/${id}.ogg`;
---

<MainLayout title={name}>
	<section class="mt-10 mx-10 flex flex-col justify-center items-center">
		<div>
			<a href="/">Regresar</a>
			<h1 class="text-3xl capitalize">{name}</h1>
		</div>

		<PokemonCard name={name} url={url} />

		<audio controls class="mt-5">
			<source src={audioSrc} type="audio/ogg" />
		</audio>
	</section>
</MainLayout>

<style>
	@reference "../../styles/global.css";
	a {
		@apply hover:underline text-blue-500;
	}
</style>
